<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>titulo de la pagina</h1>
    <p>hola {{nombre|upper}}</p>
    {% comment %} alt +124 | sale eso  {% endcomment %}
    {% comment %} # formatear con los filtros de django   comentar en django ctrl+k+c{% endcomment %}
    <p>fecha {{fecha|date:"d/m/Y"}}</p>
    
    {% if edad >= 18 %}
        <p>{{nombre}} Es mayor de edad </p>
    {% else %}
        <p>{{nombre}} Es menor de edad </p>
    {% endif %}
    
</body>
</html>
